@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

:root {
  --background-color-black: oklch(25.2% 0 0);
  --background-color-blue: oklch(56.77% 0.1665 251.31);
  --background-color-blue-hover: oklch(46.77% 0.1665 251.31);
  --background-color-gray: oklch(95.21% 0 0);
  --background-color-green: oklch(51.04% 0.1654 142.67);
  --background-color-green-hover: oklch(41.04% 0.1654 142.67);
  --background-color-red: oklch(63.57% 0.199 27.49);
  --background-color-red-hover: oklch(53.57% 0.199 27.49);
  --background-color-white: oklch(100% 0 0);
  --border-radius-circle: 50%;
  --font-size-default: 0.9rem;
  --spacing-md: 2rem;
  --spacing-sm: 1rem;
  --spacing-xs: 0.5rem;
  --transition: all 0.2s ease;
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

.chatbot.show-chatbot .chatbot-popup {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

.chatbot.show-chatbot .chatbot-toggler {
  transform: rotate(90deg);
}

.chatbot-toggler span:last-child,
.chatbot.show-chatbot .chatbot-toggler span:first-child {
  opacity: 0;
}

.chatbot.show-chatbot .chatbot-toggler span:last-child {
  opacity: 1;
}

.chatbot.show-chatbot .chatbot-popup {
  pointer-events: auto;
  opacity: 1;
  transform: scale(1);
}

.chatbot-toggler {
  align-items: center;
  background-color: var(--background-color-red);
  border: none;
  border-radius: var(--border-radius-circle);
  bottom: var(--spacing-md);
  cursor: pointer;
  display: flex;
  height: 3rem;
  justify-content: center;
  position: fixed;
  right: var(--spacing-md);
  transition: var(--transition);
  width: 3rem;
}

.chatbot-toggler span {
  color: var(--background-color-white);
  position: absolute;
}

.chatbot-popup {
  background-color: var(--background-color-white);
  border-radius: 1rem;
  bottom: 6rem;
  box-shadow: 0 0 8rem 0 rgba(0, 0, 0, 0.1), 0 var(--spacing-md) 4rem -3rem rgba(0, 0, 0, 0.5);
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  right: 4rem;
  transform: scale(0.2);
  transform-origin: bottom right;
  transition: var(--transition);
  width: 27rem;
}

.chatbot-popup .chatbot-header {
  align-items: center;
  background-color: var(--background-color-red);
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-sm) 1.5rem;
}

.chatbot-header .chatbot-info {
  align-items: center;
  display: flex;
  gap: var(--spacing-sm);
}

.chatbot-info svg {
  background-color: var(--background-color-white);
  border-radius: var(--border-radius-circle);
  fill: var(--background-color-red);
  flex-shrink: 0;
  height: 2.5rem;
  padding: var(--spacing-xs);
  width: 2.5rem;
}

.chatbot-info .chatbot-name {
  color: var(--background-color-white);
  font-size: 1.25rem;
  font-weight: 600;
}

.chatbot-header button {
  align-items: center;
  background: none;
  border: none;
  border-radius: var(--border-radius-circle);
  color: var(--background-color-white);
  cursor: pointer;
  display: flex;
  height: var(--spacing-md);
  justify-content: center;
  outline: none;
  transition: var(--transition);
  width: var(--spacing-md);
}

.chatbot-header button:hover {
  background-color: var(--background-color-red-hover);
}

.chatbot-body {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-default);
  gap: var(--spacing-sm);
  height: 27rem;
  margin-bottom: 5rem;
  overflow-y: auto;
  padding: var(--spacing-sm) 1.5rem;
  scrollbar-color: var(--background-color-red) transparent;
  scrollbar-width: thin;
}

.chatbot-body .chatbot-message {
  align-items: center;
  display: flex;
  gap: var(--spacing-xs);
}

.chatbot-body .chatbot-message.error .chatbot-message-text {
  color: var(--background-color-red);
}

.chatbot-body .chatbot-bot-message svg {
  align-self: flex-end;
  background-color: var(--background-color-red);
  border-radius: var(--border-radius-circle);
  fill: var(--background-color-white);
  flex-shrink: 0;
  height: var(--spacing-md);
  padding: var(--spacing-xs);
  width: var(--spacing-md);
}

.chatbot-body .chatbot-message .chatbot-message-text {
  max-width: 75%;
  padding: var(--spacing-sm);
  word-wrap: break-word;
}

.chatbot-body .chatbot-message .chatbot-message-text > *:not(:last-child) {
  margin-bottom: var(--spacing-xs);
}

.chatbot-body .chatbot-message .chatbot-message-text h1 {
  font-size: 1.1rem;
}

.chatbot-body .chatbot-message .chatbot-message-text h2 {
  font-size: 1.075rem;
}

.chatbot-body .chatbot-message .chatbot-message-text h3 {
  font-size: 1.050rem;
}

.chatbot-body.chatbot-message.chatbot-message-text h4 {
  font-size: 1.025rem;
}

.chatbot-body.chatbot-message.chatbot-message-text h5 {
  font-size: 1rem
}

.chatbot-body .chatbot-message .chatbot-message-text blockquote {
  border-left: 2px solid #374151;
  font-size: 0.75rem;
  font-style: italic;
  padding-left: var(--spacing-sm);
}

.chatbot-body .chatbot-message .chatbot-message-text a {
  color: var(--background-color-red);
  font-weight: 600;
  text-decoration: none;
}

.chatbot-body .chatbot-message .chatbot-message-text ul,
.chatbot-body .chatbot-message .chatbot-message-text ol {
  margin-left: 1.5rem;
}

.chatbot-body .chatbot-message .chatbot-message-text code {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  font-family: monospace;
  padding: .15rem .3rem;
}

.chatbot-body .chatbot-message .chatbot-message-text pre {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  font-size: 0.75rem;
  padding: var(--spacing-xs);
  padding-bottom: var(--spacing-sm);
  text-wrap: pretty;
}

.chatbot-body .chatbot-message .chatbot-message-text pre code {
  background: none;
}

.chatbot-body .chatbot-message .chatbot-message-text img {
  border-radius: 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  height: auto;
  max-width: 100%;
}

.chatbot-body .chatbot-message .chatbot-message-text hr {
  border-top-width: 1px;
  margin-block: var(--spacing-sm);
}

.chatbot-body .chatbot-bot-message .chatbot-message-text {
  background-color: var(--background-color-gray);
  border-radius: 0.75rem;
  border-bottom-left-radius: 0.15rem;
  color: var(--background-color-black);
}

.chatbot-body .chatbot-user-message {
  align-items: flex-end;
  flex-direction: column;
}

.chatbot-body .chatbot-user-message .chatbot-message-text {
  background-color: var(--background-color-red);
  border-radius: 0.75rem;
  border-bottom-right-radius: 0.15rem;
  color: var(--background-color-white);
}

.chatbot-footer {
  background-color: var(--background-color-white);
  bottom: 0;
  padding: var(--spacing-sm) var(--spacing-sm) var(--spacing-xs);
  position: absolute;
  width: 100%;
}

.chatbot-footer .chatbot-form {
  align-items: center;
  background-color: var(--background-color-white);
  border-radius: 2rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.06);
  display: flex;
  outline: 1px solid var(--background-color-gray);
}

.chatbot-footer .chatbot-form:focus-within {
  outline: 1px solid var(--background-color-red);
}

.chatbot-form .chatbot-input {
  background: none;
  border: none;
  height: 3rem;
  outline: none;
  padding: 0 var(--spacing-sm);
  width: 100%;
}

.chatbot-form button {
  background-color: var(--background-color-red);
  border: none;
  border-radius: var(--border-radius-circle);
  color: var(--background-color-white);
  cursor: pointer;
  display: none;
  height: var(--spacing-md);
  margin-right: var(--spacing-xs);
  outline: none;
  transition: var(--transition);
  width: var(--spacing-md);
}

.chatbot-form button:hover {
  background-color: var(--background-color-red-hover);
}

.chatbot-form button svg {
  height: 1.25rem;
  width: 1.25rem;
}

.chatbot-form .chatbot-input:valid~button {
  display: block;
}

.copyright {
  font-size: 0.75rem;
  margin-top: var(--spacing-xs);
  text-align: center;
}

.copyright span {
  color: var(--background-color-red);
}

@media (width <=40rem) {
  .chatbot-popup {
    border-radius: 0;
    bottom: 0;
    height: 100%;
    right: 0;
    width: 100%;
  }

  .chatbot-body {
    height: calc(90% - 4rem);
  }
}